<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/static/css/site.css")" rel="stylesheet" type="text/css" />
</head>

<body>
    @RenderBody()

    <div class="footer">A sample app for DDDSW Grok talk on AppHarbor. Hint, refresh for a new fact. No offense intended :) Source Code <a href="https://github.com/philjones88/SkeetFacts">here</a></div>

@Raven.Client.MvcIntegration.RavenProfiler.CurrentRequestSessions()
</body>
</html>
